* {
    margin: 0%;
    padding: 0%;

    color: white;
}

body {
    background-image: url(../imgs/background.jpg);
    background-size: cover;

    font-family: "Roboto", sans-serif;

    width: 100%;
    height: 100%;   
}

.banner {
    display: flex;
    height: 100px;
    padding: 20px;
    padding-left: 40px;

    font-size: 23px;

    background-color: #00733d;
    color: white;
}

.headers {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-left: 40px;
}

.header-one {
    align-self: flex-start;
}

#red-text {
    color: #de1714;
}

.header-two {
    align-self: flex-end;
}

.icon {
    margin-left: 20px;
    height: 100%;
}

.descript-holder {
    display: flex;

    flex-direction: column;
}

#descriptions-one, #descriptions-two, #descriptions-three{
    font-size: 1px;

    user-select: none;

    color: #00733d; 
}

p {
    margin: 10px;

    font-size: 20px;
}

.about-us {
    width: 60%;

    line-height: 30px;

    margin: 30px;
    margin-left: 10%;

    font-size: 1.5em;
    line-height: 30px;
}

.recent {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 65px;
}

.newsdiv {
    display: flex;

    width: 70%;

    overflow-x: auto;
    overflow-y: auto;

    padding-bottom: 10px;
    margin-left: 60px;
}

.newsdiv::-webkit-scrollbar{
    background-color: whitesmoke;

    height: 10px;

    border-radius: 3px;
}

.newsdiv::-webkit-scrollbar-thumb{
    background-color: grey;

    border-radius: 3px;
}

.news1 {
    width: 150px;
    height: 175px;

    border-style: solid;
    border-radius: 8px;

    margin-inline: 10px;
    padding: 5px;
}

.descript {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    font-size: 20px;

    margin-top: 0%;
}

.news1:hover {
    box-shadow: 3px 3px 1px;
}

.aiicon {
    width: 151px;
    height: 151px;
    border-radius: 5px;
}

.sidebar {
    position: fixed;
    top: 0px;
    right: 0px;
    
    height: 100%;
    width: 15%;

    margin-right: 80px;
    margin-top: 30px;

    box-shadow: 5px 5px 10px black;
    
    background-color: #d73c4b;
    border-top: white;
}

.sidebar * {
    color: white;
}

a {
    text-decoration: none;
}

.bar-opts {
    margin: 20px;

    user-select: none;

    text-decoration: none;
}

.bar-opts:hover {
    text-decoration: underline;
}

.footer {
    height: 150px;
    width: 100%;
    
    position: fixed;
    bottom: 0;

    background-color: lightgray;
}

.footertext {
    color: black;

    font-size: 15px;
    width: 77%;

    margin: 20px;
}


/* ABOUT US PAGE: */

.about-teams {
    margin-left: 10%;
    margin-top: 40px;

    width: 60%;
}

.button-box {
    display: flex;
    justify-content: space-evenly;
}

.teamA-title, .teamB-title, .teamC-title{
    border-style: solid;
    border-radius: 10px;

    user-select: none;

    padding: 5px;
}

.teamA-title:hover, .teamB-title:hover, .teamC-title:hover{
    box-shadow: 0px 0px 10px;
}


/* commented out this because it doesnt look good with the .selected styles
could add back later if the buttons need to look more responsive

.teamA-title:active, .teamB-title:active, .teamC-title:active{
    background-color: white;

    color: black;
    border-color: white;
} */

.selected {
    background-color: white;
    color: black;
    border-color: white;
}

#team-description {
    margin-top: 30px;

    font-size: 2em;
    text-align: center;

    line-height: 35px;
}

/* ABOUT US PAGE END */

/* SUPPORT US PAGE: */

.support-text {
    width: 60%;

    line-height: 30px;

    margin: 30px;
    margin-left: 10%;

    font-size: 1.5em;
    line-height: 30px;

    text-align: center;
}

.support-title {
    margin-top: 50px;

    color: red;
}

.support-descript{
    font-size: 30px;

    margin-top: 50px;
}

.givealittle {
    text-decoration: underline;
}

.sponsors-div1 {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* jackson sponsor img */
.sponsor4 {
    height: 80px;
    margin-right: 20px;
}

/* royal society img */
.sponsor5 {
    height: 160px;
    margin-left: 20px;
}

.sponsors-div2 {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* crittall arnold img */
.sponsor1 {
    height: 110px;
}

/* design production img */
.sponsor2 {
    height: 90px;
    margin-inline: 40px;
}

/* food and dairy img */
.sponsor3 {
    height: 90px;
}

/* SUPPORT PAGE END */

/* NEWS PAGE */

.news-content {
    width: 60%;

    line-height: 30px;

    margin: 30px;
    margin-left: 10%;

    font-size: 1.5em;
    line-height: 30px;
}

.news-box {
    border-style: solid;
    border-width: 2.5px;
    border-radius: 5px;
    border-color: grey;

    background-color: rgb(52, 52, 52);

    padding: 10px;
    margin-bottom: 20px;
}

.news-head {
    font-size: 30px;
}

/* NEWS PAGE END */

/* @MEDIA QUERY FOR WIDTH */

@media only screen and (max-width: 1300px) {
    body {
        width: 100%;
    }
    
    .sidebar {
        margin-right: 0px;
        margin-top: 0px;

        background-color: transparent;

        box-shadow: none;

        width: 100px;
        height: 140px;
        font-size: 15px;
    }

    .bar-opts {
        margin: 1px;
        margin-right: 5px;
        margin-top: 5px;
        text-align: right;
    }

    .banner {
        height: 100px;
        font-size: 23px;


        width: 100vw;
        margin: 0%;
    }

    .support-text, .about-us, .newsdiv, .about-teams, .news-content{
        width: 80%;
        margin-left: 0px;
        margin-inline: 10%;
    }
}

@media only screen and (max-width: 770px) {
    body {
        width: 100%;
    }

    .banner {
        padding-left: 20px;

    }

    .icon-cont {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .icon {
        margin-left: 0px;
        width: 50px;
        height: 75px;
    }

    .headers {
        justify-content: center;

        margin-left: 10px;
    }
    
    .header-one {
        font-size: 35px;
    }

    .header-two {
        display: none;
    }
}