#background {
	border-style: solid;
	border-width: 2px;
	margin-inline: 24.5%
}

/*buttons at top of window*/
.barbtns {
	width: 40px;
	height: 25px;
	border-style: solid;
}

/*close button*/
#close {
	margin-left: 5px;
}

/*line between buttons and header*/
#line {
	border-style: solid;
	border-width: 5px;
	border-color: pink;
}

/*main window*/
#window {
	height: 590px;
	color: white;
	font-size: 2em;
	background-color: black;
	
    /*margin-left: 25%;
    margin-right: 25%;*/
	
    border-style: solid;
	border-width: 6px;
    border-color: pink;
}

/*window without buttons at the top*/
#mainwin {
	padding: 5px;
}

/*div for everything at the top*/
#bar {
	background-color: pink;
	
}

/*body (everything / background)*/
body {
	height: 1000px;
	background-image: linear-gradient(#a2e9fc, white);
	font-size: 90%;

	/* 
	TRANS FLAG BACKGROUND:

	background-image: linear-gradient(lightblue, pink, white, pink, lightblue);

	*/
}

/*header (big text at top)*/
h1 {
    margin-top: 0%;
    margin-bottom: 6px;
	
	padding-left: 8px;
	
    border-style: solid;
    border-color: lightblue;
}

/*div for buttons at bottom of the window
          ** DONT USE FOR STYLE **      */
#btns {
  	margin-top: 20px;
  	margin-inline: 5%;
}

/*feed shonk button*/
#feed {
  	margin-right: 20px;
}

/*purchase exp boost button*/
.expboost {
  	margin-top: 10px;
}

/*cheat button*/
#cheat {
  	margin-left: 20px;
}

/*style for all the buttons at the bottom*/
.buttons {
    background-color: white;
	width: 45%;
    height: 35px;
    float: left;
	
    border-style: solid;
    border-width: 5px;
    border-radius: 10px;
    border-color: lightblue;
	
    text-align: center;
    font-size: 1em;
    font-size: 15px;
    color: black;
}

/*exp counter*/
#exp {
    float: right;
    width: 101px;
	
    border-style: solid;
    border-color: lightblue;
	
    padding-right: 3px;
    padding-left: 3px;
    text-align: right;
}

/*level counter*/
/*#level {
    width: 90px;
	
    margin-bottom: 3px;
    padding-left: 3px;
	padding-right: 3px;
    float: left;
	
    border-style: solid;
    border-color: lightblue;
}*/

/*shows what exp multiplier you have*/
#upg {
  	width: 70px;
	
  	padding-left: 3px;
  	margin-left: 5px;
	float: left;
	
  	border-style: solid;
  	border-color: lightblue;
}

/*HOT GAL IMAGE*/
#maddy {
	height: 210px;
	width: 275px;
	scale: 1;
	transition: transform 0.3s;
}

/*div for the HOT GAL*/
#madsDiv {
	margin-inline: 30%;
	margin-top: 80px;
	margin-bottom: 50px;
	
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}

/*hunger counter*/
#hungNum {
	width: 150px;
	
	padding-left: 3px;
	float: left;
	
	border-style: solid;
	border-color: lightblue;
}

/*hunger bar parent div*/
#progbar {
	margin-top: 20px;
	margin-left: 10px;
	margin-right: 18px;
	
	/*border-style: solid;
	border-color: red;*/
}

/*hunger bar*/
#hungerBar {
	width: 100%;
	
	border-style: solid;
	border-width: 4px;
	border-color: lightblue;
	
	/*margin-inline: 5%;*/
}

/*button hover*/
button:hover {
    background-color: #e7e7e7;
}