* 
{
    margin: 0;
    padding: 0;

    font-size: 30px;
    font-family: "Instrument Sans", sans-serif;
    font-weight: normal;
}

:root
{
    --box-background: rgba(12,12,12,0.7);
    --box-background-opaque: rgb(12,12,12);

    --primary-text: #e8e8e8;
    --secondary-text: #d9c9c9;
    --secondary-text-hover: #a59999;
}

body 
{
    background-image: url(../robotics/imgs/background.jpg);
    background-size: cover;

    padding: 40px;
}

.container-2 
{
    display: flex;
    justify-content: space-evenly;
}

.box 
{
    border: solid 1px var(--primary-text);
    border-radius: 8px;

    background-color: var(--box-background);

    padding: 20px; 
    margin: 20px;

    width: 30%;

    transition: transform 300ms, box-shadow 300ms;
}

.box:hover 
{
    transform: translate(0px, -10px);
    box-shadow: 0px 10px 5px var(--box-background);
}

h1
{
    font-size: 40px;
    text-align: center;
    color: var(--primary-text);
    font-weight: bold;

    user-select: none;

    margin-bottom: 5px;
}

p
{
    color: var(--secondary-text);
}

a 
{
    color: var(--secondary-text);
    text-decoration: underline;

    user-select: none;

    transition: transform 1s;
}

a:hover
{
    color: var(--secondary-text-hover);
}

button
{
    margin: 10px;
    padding: 5px;
    padding-inline: 8px;
    font-size: 20px;

    background-color: var(--box-background-opaque);
    color: var(--primary-text);

    /* border: solid 1px var(--primary-text); */
    border-radius: 5px;
}

.details
{
    margin-bottom: 25px;
}

.selector > button
{
    margin-top: 10px;
    margin-bottom: 10px;
    margin-inline: 5px;
}

.selector
{
    margin-top: 20px;
}

.info_span
{
    background-color: black;

    border: 1px solid var(--secondary-text);
    border-radius: 5px;
    
    padding: 2px;
    padding-inline: 8px;
    font-size: 23px;
}

ul 
{
    margin-left: 7%;
}

li
{
    color: var(--secondary-text)
}

@media only screen and (max-width: 1100px) 
{
    .container-2
    {
        flex-direction: column;
        align-items: center;
    }

    .box
    {
        width: 70%;
    }
}