* 
{
    margin: 0;
    padding: 0;

    font-size: 30px;
}

body 
{
    background-image: url(../robotics/imgs/background.jpg);
    background-size: cover;
}

.box 
{
    border: solid 1px rgb(183, 179, 179);
    border-radius: 8px;

    background-color: rgb(44, 44, 44, 0.8);

    margin: 10px;
    padding: 20px; 

    width: 30%;
}

a 
{
    color: #CCDDB7;
    text-decoration: none;
}

h1
{
    font-size: 40px;
    text-align: center;
    color: #88D18A;
}

.container-2 
{
    display: flex;
    justify-content: space-evenly;

    margin: 20px;
}