* 
{
    margin: 0;
    padding: 0;

    font-size: 30px;
}

body 
{
    background-image: url(../robotics/imgs/background.jpg);
    background-size: cover;

    padding: 40px;
}

.container-2 
{
    display: flex;
    justify-content: center;
}

.box 
{
    border: solid 1px rgb(183, 179, 179);
    border-radius: 8px;

    background-color: rgba(12,12,12,0.7);

    padding: 20px; 
    margin: 20px;

    width: 30%;

    transition: transform 300ms, box-shadow 300ms;
}

.box:hover 
{
    transform: translate(0px, -10px);
    box-shadow: 0px 10px 5px rgba(12,12,12,0.7);
}

h1
{
    font-size: 40px;
    text-align: center;
    color: #88D18A;

    margin-bottom: 5px;
}

a 
{
    color: #CCDDB7;
    text-decoration: none;
}

@media only screen and (max-width: 1100px) 
{
    .container-2
    {
        flex-direction: column;
        align-items: center;
    }

    .box
    {
        width: 70%;
    }
}