* 
{
    margin: 0%;
    padding: 0%;
}

body
{
    background-image: url(misc/background.png);
    background-size: cover;
}

.table 
{
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

/* --------------------------START OF LEFT SECTION------------------------- */

/* main left side container */
.left 
{
    top: 0px;
    bottom: 0px;

    background-color: rgb(55, 55, 55);
    border: solid 4px rgb(68, 68, 189);
    border-top: 0px;
    border-bottom: 0px;

    display: flex;
    align-items: center;
    justify-content: center;

    margin-left: 2%;
    width: 18%;
    height: 100%;
}

/* all boxes in the side bar */
.title, .score, .points, .moves, .money, .games_played
{
    border-style: solid;
    border-width: 6px;
    border-radius: 10px;
    border-color: rgb(32, 32, 32);

    padding: 5px;

    background-color: rgb(55, 55, 55);
    color: white;
}

.title, .score, .menus, .moves, .money, .games_played, .points_2
{
    display: flex;
}

.title, .score, .points, .moves, .money
{
    margin-bottom: 10px;
}

.title
{
    height: 150px;
}

/* score stuff */
.score
{
    align-items: center;
    padding-inline: 10px;

    font-size: 2.5em;
}

#score_num
{
    border-style: solid;
    border-width: 6px;
    border-radius: 10px;
    border-color: rgb(32, 32, 32);

    margin-left: 10px;

    text-align: center;

    width: 85%;
}

/* mult stuff */

.points
{
    padding: 10px;
}

#hand-type
{
    margin-bottom: 5px;
}

#chips-points, .times, #mult-points
{
    font-size: 2.5em;
    margin-inline: 2px;
}

#chips-points, #mult-points
{
    width: 40%;

    text-align: right;

    border-style: solid;
    border-radius: 10px;

    padding-inline: 5px;
}

#chips-points
{
    background-color: rgb(96, 96, 255);
    border-color: rgb(96, 96, 255);
}

#mult-points
{
    background-color: rgb(255, 80, 80);
    border-color: rgb(255, 80, 80);
}

/* menu on right and other stuff on left */
.left-left
{
    float: left;
    width: 40%;
}

.left-right
{
    float: right;
    width: 60%;
}

/* menu buttons */

.menus
{
    display: flex;
    flex-direction: column;
}

.run-info, .menu-options
{
    width: 80%;
    height: 120px;

    color: white;
    font-size: 0.8em;
    text-align: center;

    padding-top: 5px;
    padding-bottom: 5px;

    border-radius: 8px;

    box-shadow: 4px 4px 2px black;
}

.run-info
{
    background-color: rgb(255, 80, 80);
    line-height: 50px;
    margin-bottom: 10px;
}

.menu-options
{
    line-height: 100px;
    background-color: orange;
}

/* hands and discards stuff */

.moves
{
    text-align: center;
    justify-content: space-evenly;
}

.hands, .discards
{
    font-size: 1em;

    padding: 3px;

    border-style: solid;
    border-width: 6px;
    border-radius: 10px;
    border-color: rgb(32, 32, 32);
}

#hands-number, #discards-number
{
    font-size: 2em;
}

/* money stuff */

.money
{
    justify-content: center;
}

#money-number
{
    color: orange;
}

/* round and ante stuff */

.games_played
{
    justify-content: space-evenly;
}

.ante, .round
{
    border-style: solid;
    border-width: 6px;
    border-radius: 10px;
    border-color: rgb(32, 32, 32);

    padding: 5px;

    text-align: center;
}

.ante-number, .round-number
{
    font-size: 1.5em;
    color: orange;
}




/* --------------------------START OF MIDDLE SECTION------------------------- */


.middle 
{
    height:100%;
    width: 60%;
}

.jokers
{
    display: flex;
    justify-content: space-evenly;
    justify-self: center;

    margin-top: 30px;
    background-color: rgba(0, 0, 0, 0.119);

    padding-top: 5px;
    padding-bottom: 5px;
    width: 90%;
}

.card
{
    width: 130px;
    margin-inline: 5px;
}


/* --------------------------START OF RIGHT SECTION------------------------- */


.right
{
    border-style: solid;
    border-color: yellow;

    margin-right: 2%;
    width: 18%;
}